.App {
  display: flex;
  flex-direction: column;
  border: 2px solid #006799;
  width: 50%;
  height: 50%;
  border-radius: 5px;
  background-color: #eee;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.container {
  position: absolute;
  width: 100%;
  top: 25%;
}

body {
  margin: 0%;
  padding: 0%;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");

.post {
  border-radius: 10px;
  height: 50px;
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.1), 0px 5px 10px 3px rgba(0, 0, 0, 0.15);
  font-size: 14px;
  font-family: Bogle;
  color: #006799;
  border: 1px solid #F1F1F2;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0% 2%;
  margin: 2%;
  margin-bottom: 0px;
}